{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "ignorePatterns": ["/public/build/", "/api/"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true
}
